:root {
    --linear-ease: linear(0,
            0.068,
            0.19 2.7%,
            0.804 8.1%,
            1.037,
            1.199 13.2%,
            1.245,
            1.27 15.8%,
            1.274,
            1.272 17.4%,
            1.249 19.1%,
            0.996 28%,
            0.949,
            0.928 33.3%,
            0.926,
            0.933 36.8%,
            1.001 45.6%,
            1.013,
            1.019 50.8%,
            1.018 54.4%,
            1 63.1%,
            0.995 68%,
            1.001 85%,
            1);
    --gooey-bg: rgba(255, 255, 255, 0.03);
    --gooey-pill: #ffffff;
}

.gooey-nav-container {
    position: relative;
    font-family: var(--sans);
}

.gooey-nav-container nav {
    display: flex;
    position: relative;
    transform: translate3d(0, 0, 0.01px);
}

.gooey-nav-container nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 0.5rem;
    margin: 0;
    position: relative;
    z-index: 3;
    background: var(--gooey-bg);
    border: 1px solid rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border-radius: 100vw;
}

.gooey-nav-container nav ul li {
    border-radius: 100vw;
    position: relative;
    cursor: pointer;
    transition: color 0.3s ease;
    color: var(--muted);
}

.gooey-nav-container nav ul li a {
    display: inline-block;
    padding: 0.6rem 1.4rem;
    font-size: 0.85rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 500;
    color: inherit;
    text-decoration: none;
}

.gooey-nav-container nav ul li.active {
    color: #000;
}

.gooey-nav-container .effect {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    opacity: 1;
    pointer-events: none;
    display: grid;
    place-items: center;
    z-index: 1;
}

.gooey-nav-container .effect.text {
    color: transparent;
    transition: color 0.3s ease;
    font-size: 0.85rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 500;
    padding: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gooey-nav-container .effect.text.active {
    color: #000;
}

.gooey-nav-container .effect.filter {
    filter: blur(8px) contrast(20) blur(0);
}

.gooey-nav-container .effect.filter::after {
    content: '';
    position: absolute;
    inset: 0;
    background: var(--gooey-pill);
    transform: scale(0);
    opacity: 0;
    z-index: -1;
    border-radius: 100vw;
}

.gooey-nav-container .effect.active::after {
    animation: pill 0.4s var(--linear-ease) both;
}

@keyframes pill {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.particle,
.point {
    display: block;
    opacity: 0;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    transform-origin: center;
}

.particle {
    --time: 5s;
    position: absolute;
    top: calc(50% - 7.5px);
    left: calc(50% - 7.5px);
    animation: particle calc(var(--time)) ease 1;
}

.point {
    background: var(--gooey-pill);
    opacity: 1;
    animation: point calc(var(--time)) ease 1;
}

@keyframes particle {
    0% {
        transform: rotate(0deg) translate(calc(var(--start-x)), calc(var(--start-y)));
        opacity: 1;
    }

    70% {
        transform: rotate(calc(var(--rotate) * 0.5)) translate(calc(var(--end-x) * 1.2), calc(var(--end-y) * 1.2));
        opacity: 1;
    }

    100% {
        transform: rotate(calc(var(--rotate))) translate(calc(var(--end-x) * 0.5), calc(var(--end-y) * 0.5));
        opacity: 0;
    }
}

@keyframes point {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    25% {
        transform: scale(0.5);
        opacity: 1;
    }

    65% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0);
        opacity: 0;
    }
}